<p id="notice"><%= notice %></p>
<br><br>
<p>
  <strong>Nombre:</strong>
  <%= @jugadore.nombre %>
</p>
<br><br>
<p>
  <strong>Posicion:</strong>
  <%= @jugadore.posicion %>
</p>
<br><br>
<%= link_to 'Edit', edit_jugadore_path(@jugadore) %> |
<%= link_to 'Back', jugadores_path %>
