<h1>Equipos</h1>

<br>

<div class="myTabla">
  <div class="panel panel-primary">
    <div class="panel-heading">Lista de equipos</div>
    <table class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Jugador 1</th>
          <th>Jugador 2</th>
          <th>Jugador 3</th>
          <% if current_user %>
            <th></th>
            <th></th>
          <% end %>
        </tr>
      </thead>

      <tbody>
        <% @equipos.each do |equipo| %>
          <tr>
            <td><%= equipo.nombre %></td>
            
            <% equipo.jugadores.each do |jug| %>
            	<td><%= jug.nombre %></td>
	        	<% end %>

          	<% if current_user %>
              <% if equipo.jugadores.length < 3 %>
                <td>
                  <ul class="nav nav-pills nav-stacked">
                  </ul>
                </td>
              <% end %>
            	<td><%= link_to 'Edit', edit_equipo_path(equipo) %></td>
           	 	<td><%= link_to 'Destroy', equipo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          	<% end %>
          </tr>
        <% end %>
      </tbody>

      <tfoot>
      	<tr>
      		<% if current_user %>
            <td><%= link_to "Nuevo Equipo", new_equipo_path %></td>
            <td></td>
          <% end %>
      	</tr>
      </tfoot>
    </table>
  </div>
</div>